*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: black;
    font-family: fantasy;
    color: white;
}
.location{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature{
    height: 20%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.degreesection{
    display: flex;
    width: 150%;
    justify-content: space-around;
    cursor: pointer;
}
.label{
    font-size: x-large;
}

.time{
    font-family: sans-serif;
}
.description{
    font-family: sans-serif;
}

.search{
    position: absolute;
    top: 7%;
    left: 7%;
    width: 80%;
}
.butto{
    border-radius: 12px;
    padding: 8px;
    margin: 11px;
    font-size: 19px;
    color: white;
    background: transparent;
    border: None;
    cursor: pointer;
    transition-duration: 0.4s;
}
.butto:hover{
    border-radius: 12px;
    padding: 8px;
    margin: 11px;
    font-size: 19px;
    color: black;
    background: white;
    border: None;
    cursor: pointer;
}

.longi{
    color: white;
    padding: 8px;
    width: 10%;
    background: transparent;
    border: None;
    transition-duration: 0.4s;
    border-radius: 4px;
}
.longi:focus{
    background: transparent;
    border: white;
    border-radius: 4px;
}
.lati{
    color: white;
    padding: 8px;
    width: 10%;
    background: transparent;
    border: None;
    transition-duration: 0.4s;
    border-radius: 4px;
}
.lati:focus{
    background: transparent;
    border: white;
    border-radius: 4px;
}